

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo2";
  src: url("./assets/Fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* since it's variable weight */
  font-style: normal;
}

body {
  font-family: "Baloo2", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
